<!DOCTYPE html>
<html>

<body>
<% if current_user %>

  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-striped borderless table-bordered">

        <tr>

          <td class="text-center">

            <strong >Desconocido mas Compatible</strong>
          </td>
          <td class="text-center">
            <strong>Compatibilidad</strong>

          </td>
        </tr>

        <%
        #if user_most_compatible
        %>
        <tr>
          <td> <%#=user_most_compatible.name %> </td>
          <td> <%#=100*most_compatible/self_compatibility%>%</td>
        </tr>

        <%#end%>


      </table>
    </div>
  </div>

</br></br></br>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-striped borderless table-bordered">

        <tr>

          <td class="text-center">

            <strong >Amigos</strong>
          </td>
          <td class="text-center">
            <strong>Compatibilidad</strong>

          </td>
        </tr>


      </table>
    </div>
  </div>
</div>


<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>
</body>
</html>
