<html lang="es-CO" xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>

 <%
  domain = "www.psygonsurfcamp.com"
  domains = domain.split(".")
  #domains = request.host.split(".")

  #find by subdomain
  if domains.count > 1
    firstSub = domains.first
    puts "firstsub"
    puts firstSub


    if Place.where(:name_id => firstSub).present?
      @place = Place.find_by(:name_id => firstSub)
      puts "place1"
      puts @place.name
    else
      secondSub = domains.second
      puts "secondSub"
      puts secondSub

      if Place.where(:name_id => secondSub).present?
        @place = Place.find_by(:name_id => secondSub)
        puts "place2"
        puts @place.name
      end

    end

  end
  #find by domain
  unless @place
    firstSub = domains.first
    puts "firstsuba"
    puts firstSub


    if Place.where(:domain => firstSub).present?
      @place = Place.find_by(:domain => firstSub)
      puts "place1a"
      puts @place.name
    else
      secondSub = domains.second
      puts "secondSuba"
      puts secondSub

      if Place.where(:domain => secondSub).present?
        @place = Place.find_by(:domain => secondSub)
        puts "place2a"
        puts @place.name
      end

    end

  end

  #Find by slash atribute
  unless @place
    if Place.where(:name_id => params[:id]).present?
      @place = Place.find_by(:name_id => params[:id])
      puts "place3"
      puts @place.name
    end
  end


  unless @place
    @place = Place.find_by(:name_id => "finca")
  end

  puts "place4"
  puts @place.name


  @name_id =@place.name_id
  @name = @place.name
  @location = @place.location_name
  @image_url = asset_path("#{@name_id}_slider1.jpg")
  @facebook_url = @place.facebook_url
  @email = @place.email
  @cellphone = @place.cellphone
  @logo_path = @place.logo_path
  @location_url = @place.location_url
  @description = @place.description
  @video = @place.video_url
  @reserva_url = @place.reservar_url
  @thumb_images = @place.max_thumb_images

 %>

  <%= render 'modules/header' %>
  <%= render 'modules/slider' %>
  <%= render 'modules/videofotos' %>
  <style scoped="">
  section#themo_rooms_1{padding-top:75px; padding-bottom:75px}
  </style>
  <%= render 'modules/webcomponents' %>
</div>


</html>
