<html lang="es-CO" xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

 <%
  @place = Place.find_by(:name_id => "finca")
  @name_id =@place.name_id
  @name = @place.name
  @location = @place.location_name
  @image_url = asset_path("#{@name_id}_slider1.jpg")

  @description = @place.description
  @video = @place.video_url
  @thumb_images = @place.max_thumb_images
  @rooms = @place.rooms.all
  @tours = @place.tours.all
 %>

  <%= render 'sections/slider' %>
  <%= render 'sections/videofotos' %>
  <%= render 'sections/rooms' %>

  <style scoped="">
  section#themo_rooms_1{padding-top:75px; padding-bottom:75px}
  </style>

  <%= render 'sections/fotosdescription' %>





</div>

</html>
