#main-flex-slider .slider-bg {
	padding-top:60px;
	padding-bottom:60px;
	background-color:#ececec;
	background-position:center top;
	background-size:cover;
}

#main-flex-slider .themo_slider_0 {
    padding-top: 295px;
    padding-bottom: 290px;
}

#main-flex-slider {
    background: transparent;
    text-align: center;
}

.slides {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
}


.slides h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}

.slides p {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 150%;
}

p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #5c5c5c;
    -webkit-font-smoothing: antialiased;
}


.light-text p, .light-text ul, .light-text ul li, .light-text ol, .light-text ol li, .light-text dl, .light-text dl dt, .light-text i, .light-text i.accent {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #515151;
    -webkit-font-smoothing: antialiased;
}

.slides .light-text h1,.light-text p {
    color: #fff;
}

.slider-content {
    margin-left: 25%;
}

.section-header h2 {
    text-transform: uppercase;
    padding-bottom: 18px;
    margin: 0 0 18px;
}

/*texto*/
.centered {
    text-align: center;
}

/*ROOMS*/
.rooms .rooms-item {
    padding: 0;
    overflow: hidden;
}

#rooms-row {
    margin-left: 0;
    margin-right: 0;
}

/* Imagenes */

img {
    max-width: 100%;
    height: auto !important;
}

/*button*/
.btn {
    padding: 10px 45px;
    border-radius: 50px;
    white-space: normal;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.light-text .btn-ghost, .light-text .a2c-ghost.woocommerce a.button {
    border-color: #fff;
    color: #fff;
}


/*arrow nav */
.flex-control-nav, .flex-direction-nav, .slides {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-direction-nav .flex-prev:before {
    content: "a" !important;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(255,255,255,1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}


/* HEADER */

/*.headhesive--clone.dark-header {
    background-color: #252b2d !important;
}*/


.banner[data-transparent-header="true"] {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: visible !important;
    z-index: 9998;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    border-bottom: 0;
}

.banner[data-transparent-header="true"] #logo .logo-main {
    display: none;
}

#logo {
    float: left;
    display: block;
    margin: 25px 0;
}

.navbar .navbar-nav {
    float: right;
    text-align: right;
    margin: 12px 0 0 0;
}

header.dark-header .navbar-nav > li > a, header.dark-header .navbar-nav > li > a:hover, .headhesive--clone.dark-header .navbar-nav > li > a, .headhesive--clone.dark-header .navbar-nav > li > a:hover {
    color: #fff !important;
}


/* HEADER */
.top-nav-icon-blocks .icon-block {
    display: inline-block;
    padding: 0 10px;
    text-align: right;
}

.top-nav-text {
    float: left;
}


header.dark-header .top-nav-text p, header.dark-header .top-nav-icon-blocks .icon-block a
{
    color: #fff !important;
}

.top-nav-icon-blocks {
    float: right;
}

.top-nav {
    padding: 8px 0;
}

.banner[data-transparent-header="true"] .top-nav {
    background: rgba(255,255,255,0.1);
}

.top-nav-icon-blocks .icon-block p, .top-nav-icon-blocks .icon-block a, .top-nav-text p, .top-nav-text a {
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    color: #828282;
}
